* {
    box-sizing: border-box;
    margin: 20px;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    list-style: none;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: normal;
}
.h3 {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

h3 a {
    color: aquamarine;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}

p {
    text-align: center;
}

.grey {
    font-size: 21px;
    color: gray;
}
.icon{
    margin-top: 50px;
}

footer p {
    width: 100%;
    text-align: right;
    color: gray;
}
