* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: normal;
}
h3 {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}

p {
    text-align: center;
}

.grey {
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
    color: gray;
}
